* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    color: #555;
    font-family: 'Muli', sans-serif;
    font-size: 100%;
    /* text-rendering: optimizeLegibility; */
}

@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
}

/* Phones smaller than iPad: from 481 - 767 px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    

    
    
    

}